/*Scrolls you down the page once you click on a link*/
html {
    scroll-behavior: smooth;
  }

/*Sets the body to a flexbox*/
body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    background-color: rgb(56, 87, 113);
    color: #ffffff;
  }

  /*lines the header and links side by side*/
  header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;

  }
  /*Increases h1 font and moves it over to the right*/
  h1 {
    font-size: 350%;
    margin-left: 100px;
  }

  /*Selector that spaced out the listed links evenly*/
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 470px;
    list-style: none;
    transition: 0.9s;
}
  /*Sets the links to white and removes the underline*/
  a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;

}
  /*Type selector that formats the links in the header to not be blue nor have an underline*/
  nav ul li { 
    font-size: 28px;
    transition: 0.2s;
 }

  main {
    padding: 10px;
  }

  /*establishes the sections in the main element as a flexbox*/
  main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    padding: 1%;
  }

  /*indents and establishes padding for each paragraph in the About me section*/
  main section p {
    text-indent: 25px;
    padding-bottom: 10px;
  }

  /*sets font size in the Conact Me section*/
 section ul li{
    transition: 0.2s;
    font-size: 30px;
  }

  /*sets the font and background of the header on each card*/
  section h3 {
    text-align: center;
    font-size: 170%;
    background-color: rgba(0, 0, 0, 0.414);
    border-radius: 10px 10px 0 0;
  }

  /*places the footer in the center*/
  footer {
    text-align: center;
    font-size: 22px;
    padding: 12px;
  }

  /*sets a background image within the header*/
  .profilepic {
    padding-top: 100px;
    padding-bottom: 300px;
    background-image: url(./Images/Profile\ Pic.JPG);
    background-size: cover;
    background-position: 50% 49.5%;
  }


  /*This sets the headers within the main section*/
  .card-header {
    font-size: 25px;
    flex: 0 0 15%;
    padding: 0.5rem;
    text-align: right;
  }

    /*This contains the text within the box sets how much room the section will take in the main*/
.main-card {
    flex: 0 0 73%;
    border-left-style: solid;
    border-color: rgb(233, 178, 133);
    display: inline-block;
    padding-left: 15px;
    margin-bottom: 100px;
}

/*Sets font size for the About Me section*/
.aboutfont {
  font-size: 20px;
  }

/*class for each card in the about me section - sets the style and positions the image for each*/
.application {
    width: 450px;
    height: 350px;
    display: inline-block;
    border-radius: 10px;
    padding: 0px 0px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: 0.2s;
}

/*sets the image for each card in the My work section*/
.application1 {
    background-image: url(./Images/social-media-marketing.jpg);
    width: 100%;
    height: 300px;
}

.application2 {
    background-image: url(./Images/bowtie-cat.png);
}

.application3 {
    background-image: url(./Images/image-1.png);
}

/*Wraps the text in the about me section*/
#wrap {
    inline-size: 100%;
    overflow-wrap: break-word;
}

/*Lines up and spaces out the links in the Contact Me section*/
#list-out {
display: flex;
justify-content: space-between;
min-width: 400px;
list-style: none;

}

  /*moves the applications up when you hover over each card and link*/
  nav ul li:hover {
    transform: translateY(-5px);

  }

.application:hover {
    transform: translateY(-15px);

  }

section ul li:hover {
    transform: translateY(-5px);
}

  /*This stacks h1 and links on top of eachother when screen width is reduced to 768px*/
@media screen and (max-width: 768px) {
  header div {
    flex-direction: column;
    text-align: center;
  }
  h1 {
    margin-left: 0px;
  }
  header nav ul {
    flex-direction: column;
  }
}

/*This changes the position of the header and body of the main section when screen is reduced to 1058px*/
@media screen and (max-width: 1058px) {
    .card-header {
      flex-direction: column;
      text-align: center;
      flex: 1 0 100%;
    }
    .main-card {
        flex-direction: column;
        text-align: left;
        flex: 1 0 100%;
    }

    section ul li {
        flex-direction: column;
        text-align: center;
    }
  }
  